@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@layer base {
  /* ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #fb7185;
  } */
  body {
    @apply overflow-hidden;
  }
  * {
    @apply font-inter;
    scrollbar-width: thin;
    scrollbar-color: #fb7185 #cbd5e1;
  }
  h1 {
    @apply text-6xl font-semibold font-outfit text-slate-100;
  }
  h6 {
    @apply font-bold font-outfit text-slate-200;
  }
  p {
    @apply text-slate-300;
  }
  .bg-glass {
    @apply bg-black bg-clip-padding backdrop-blur-sm bg-opacity-10;
  }
  .btn {
    @apply px-4 py-2 rounded-full border border-slate-100 text-slate-100 hover:bg-rose-400 hover:border-rose-400 duration-200;
  }
}

@tailwind components;
@tailwind utilities;
